@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "华文细黑", STXihei, 宋体, SimSun, sans-serif;
}

body {
  margin: 0px;
}

a:hover {
  text-decoration: none;
}

.header {
  padding: 10px 75px;
}

.header__container {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navbar {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu, .header__icon, .header__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__list {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.header__list--icon {
  font-size: 1.1rem;
}

.header__list .menu-active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #1c9eb4;
}

.header__list--nav-icon {
  display: none;
}

.header__list--nav-icon .header__link {
  display: block;
}

.header__list--nav-icon .header__link div {
  width: 17.59px;
  height: 1px;
  margin: 5px 0px;
  background-color: #444;
}

.header__list--nav-icon .header__link:hover div {
  background-color: #1c9eb4;
}

.header__link {
  padding: 10px 5px;
  color: #444;
  text-decoration: none;
  position: relative;
}

.header__link--menu:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #1c9eb4;
}

.header__link--member {
  color: #1c9eb4;
}

.body {
  min-height: 500px;
}

.footer {
  background-color: #f0f0f0;
}

.footer__container {
  min-height: 100px;
}

.footer__box {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__title {
  font-size: 16px;
  font-weight: 500;
}

.footer__title--center {
  text-align: center;
  margin-bottom: 25px;
}

.footer__content {
  margin: 25px 0px 0px;
  padding: 0;
  list-style-type: none;
}

.footer__content li {
  padding: 5px 0px;
  font-size: 0.875rem;
}

.footer__content li a {
  text-decoration: none;
  color: #777;
}

.footer__content li a:hover {
  color: #1c9eb4;
}

.footer__content--flatten {
  margin: 0px 0px 0px;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content--flatten li {
  margin-right: 20px;
  padding: 0px;
}

.footer__contact {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.1rem;
}

.footer__contact-icon a {
  margin-left: 20px;
  text-decoration: none;
  color: #777;
}

.footer__contact-icon a:hover {
  color: #1c9eb4;
}

.footer__bottom {
  padding: 10px 0px;
  border-top: 1px solid #ddd;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left a, .footer__left span {
  margin-right: 30px;
  font-size: 12px;
  color: #777;
}

.footer__left a {
  text-decoration: none;
}

.footer__left a:hover {
  color: #1c9eb4;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__right span {
  margin-left: 30px;
  font-size: 12px;
  color: #777;
}

.toolbar, .scroll {
  position: fixed;
  right: 0px;
  top: 50%;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.toolbar--top, .scroll--top {
  right: 0px;
  top: 70%;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.toolbar__box, .scroll__box {
  margin: 0px;
  padding: 0px 5px;
  list-style-type: none;
  background-color: #00000090;
}

.toolbar__list, .scroll__list {
  position: relative;
}

.toolbar__list:last-child > .toolbar__icon, .toolbar__list .scroll__icon, .scroll__list:last-child > .toolbar__icon, .scroll__list .scroll__icon {
  border-bottom: none;
}

.toolbar__list:hover > .toolbar__hover, .scroll__list:hover > .toolbar__hover {
  display: block;
}

.toolbar__icon, .scroll__icon {
  display: block;
  text-align: center;
  padding: 10px 0px 6px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.toolbar__icon:hover, .scroll__icon:hover {
  color: #fff;
}

.toolbar__icon svg, .scroll__icon svg {
  font-size: 28px;
}

.toolbar__icon div, .scroll__icon div {
  font-size: 12px;
  margin-top: 5px;
}

.toolbar__hover, .scroll__hover {
  padding-right: 5px;
  color: #fff;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  font-size: 1.3rem;
  display: none;
}

.toolbar__hover:hover, .scroll__hover:hover {
  color: #fff;
  display: block;
}

.toolbar__hover span, .scroll__hover span {
  padding: 8px 20px;
  display: block;
  background-color: #00000090;
}

@media all and (max-width: 768px) {
  .footer__box > div {
    width: 50%;
    padding-bottom: 20px;
  }
  .footer__box > div:nth-child(3) {
    width: 100%;
  }
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer__title {
    white-space: nowrap;
  }
  .footer__content--flatten {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__content--flatten li {
    margin-bottom: 10px;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media all and (max-width: 992px) {
  .header__menu, .header__member {
    display: none;
  }
  .header__list--nav-icon {
    display: block;
  }
  .header__list--icon {
    padding: 10px 8px;
  }
}

@media all and (max-width: 1200px) {
  .header {
    padding: 10px 15px;
  }
}

.slider__box, .banner__box {
  width: 100%;
  position: relative;
}

.slider__link, .banner__link {
  padding-top: 40%;
  position: relative;
  display: block;
}

.slider__link img, .banner__link img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__veil, .banner__veil {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #000000a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__veil-text, .banner__veil-text {
  padding: 0px 15px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.slider__veil-text--title, .banner__veil-text--title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.8rem;
}

.slider__veil-text--content, .banner__veil-text--content {
  color: #f0f0f0;
  font-size: 1.2rem;
}

.slider__veil-chosen-box, .banner__veil-chosen-box {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__veil-chosen-link, .banner__veil-chosen-link {
  margin: 0px 40px;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__veil-chosen-link:hover, .banner__veil-chosen-link:hover {
  text-decoration: none !important;
  color: #1c9eb4;
}

.slider__veil-chosen-link span, .banner__veil-chosen-link span {
  margin-right: 5px;
}

.about {
  padding: 80px 0px 50px;
}

.about__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #444;
}

.about__content {
  margin-bottom: 40px;
  text-align: center;
  font-size: 0.875rem;
  color: #444;
}

.about__chosen-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__chosen-link {
  padding: 13px 35px;
  margin: 0px 30px;
  border: 2px solid #999;
  font-size: 0.875rem;
  border-radius: 3px;
  color: #444;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.about__chosen-link:hover {
  border: 2px solid #1c9eb4;
  color: #fff;
  background-color: #1c9eb4;
}

.about__chosen-link span {
  margin-right: 5px;
}

.about__bottom {
  margin-top: 50px;
  border-top: 1px solid #999;
}

.about__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__step-box {
  text-align: center;
  font-size: 0.875rem;
  position: relative;
  color: #444;
}

.about__step-box:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #444;
  position: absolute;
  top: -4px;
}

.about__step-box:hover {
  color: #1c9eb4;
}

.about__step-box:hover:before {
  background-color: #1c9eb4;
}

.about__step-title {
  padding: 30px 0px 18px;
  font-size: 1.1rem;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.gallery__grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.gallery__box {
  padding-top: 100%;
  position: relative;
}

.gallery__box img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__box:hover > .gallery__veil--hover {
  visibility: visible;
}

.gallery__veil {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #00000070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__veil--hover {
  visibility: hidden;
}

.gallery__veil-text {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.gallery__veil-text--title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.8rem;
}

.gallery__veil-text--score {
  font-size: 1rem;
}

.gallery__veil-text--score a {
  margin: 0px 20px;
  color: #f0f0f0;
}

.gallery__veil-text--score a:hover {
  color: #1c9eb4;
}

.gallery__veil-text--score a span {
  padding-left: 5px;
}

.gallery__veil-more {
  font-size: 1rem;
  color: #f0f0f0;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.gallery__veil-more:hover {
  color: #1c9eb4;
}

.gallery__veil-chosen-box {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__veil-chosen-link {
  margin: 0px 40px;
  text-decoration: none;
  color: #c0c0c0;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__veil-chosen-link:hover {
  text-decoration: none !important;
  color: #1c9eb4;
}

.gallery__veil-chosen-link span {
  margin-right: 5px;
}

.comment {
  padding: 50px 0px;
  background-color: #f0f0f0;
}

.comment__box {
  margin: 0px auto;
  padding: 0px 15px;
  font-size: 0.875rem;
}

.comment__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment__image {
  width: 100px;
  height: 100px;
}

.comment__image img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
}

.comment__info {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__info-name {
  font-weight: 600;
}

.comment__info-job {
  color: #777;
}

.comment__content {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777;
  position: relative;
}

.comment__content:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: #fff;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

.comment__icon {
  padding: 20px 20px 20px 15px;
  font-size: 1.4rem;
}

.brand {
  margin-top: 40px;
  padding: 0px 15px;
}

.brand__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  color: #777;
}

.brand__box:hover {
  color: #ff459c;
}

.service {
  padding: 50px 0px;
}

.service__box {
  padding: 20px 0px;
  text-align: center;
}

.service i {
  font-size: 50px;
}

.service__content {
  margin-top: 30px;
  color: #777;
  font-size: 0.875rem;
  text-align: center;
}

@media all and (max-width: 768px) {
  .slider__veil-text {
    font-size: 1.2rem;
  }
  .about__chosen-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__chosen-link {
    white-space: nowrap;
    margin-bottom: 15px;
  }
  .about__step-box {
    font-size: 0.750rem;
  }
  .about__step-title {
    font-size: 0.975rem;
  }
  .gallery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media all and (max-width: 992px) {
  .gallery__veil-text--title {
    font-size: 1.3rem;
  }
  .gallery__veil-more {
    font-size: 0.875rem;
    right: 30px;
    bottom: 15px;
  }
  .banner__veil-text--title {
    font-size: 1.3rem;
  }
  .banner__veil-text--content {
    font-size: 1rem;
  }
  .banner__veil-chosen-link {
    margin: 0px 20px;
  }
}
/*# sourceMappingURL=index.css.map */